<header>
    
  <h1 class="title"><img src="1.gif" alt="Computer Man" style="width:115px;height:115px;">
    VHS Rental Service
  </h1>
  <nav>
      <a [routerLink]="['/vhsList']" class="subtitle"><img src="2.gif" alt="Computer Man" style="width:115px;height:115px;"> All VHS tapes </a> <img src="8.gif" alt="Computer Man" style="width:115px;height:115px;">
      <a [routerLink]="['/rentTapes']" class="subtitle"> Rented</a><img src="5.gif" alt="Computer Man" style="width:115px;height:115px;"><br><br>
  </nav>
</header>
<section id="main">
  <router-outlet></router-outlet>
</section> 
